<%= render 'navbar' %>
<div class="mt-5 pt-4">
  <div class="d-flex align-items-center justify-content-center show-img" style="background-image: url('https://westburyarts.org/wp-content/uploads/2016/12/film.jpg');">
    <h1 class="text-white fw-bold"><%= @list.name %></h1>
  </div>
  <div class="container mt-5">
    <div class="d-flex justify-content-end">
      <%= link_to "Add movie", new_list_bookmark_path(@list), class: "btn btn-success rounded text-white" %>
    </div>
    <div data-aos="fade-in" class="row justify-content-between">
      <% @list.bookmarks.each do |bookmark| %>
        <div class="col-4 p-0 ms-1 me-1 mt-5 mb-3 d-flex poster">
          <img src="<%= bookmark.movie.poster_url %>" alt="">
          <div class="poster-details">
            <h4 class="ms-3 me-3 mt-3"><%= bookmark.movie.title %></h4>
            <p class="ms-3 me-3 mt-3 overview"><%= bookmark.movie.overview %></p>
            <div class="d-flex justify-content-between">
              <p class="ms-3 me-3 mt-3"><i class="fa-solid fa-quote-left"></i> <%= bookmark.comment %></p>
              <%= link_to "Delete", list_bookmark_path(@list, bookmark), data: { turbo_method: :delete }, class: "mb-3 mt-3 me-3 text-danger"%>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container mt-5 d-flex justify-content-between align-items-center">
  <h3 class="fw-medium mb-3">Reviews</h3>
  <%# <%= link_to "Add review", new_list_review_path(@list), class: "btn btn-success rounded text-white mt-2 mb-2 me-5" %>
</div>
<div class="p-0 container d-flex justify-content-between">
  <div class="container">
    <% @list.reviews.each do |review| %>
      <div class="mb-3 border-bottom">
        <p>
          <% review.rating.times do %>
            <i class="fa-solid fa-star"></i>
          <% end %>
          <% (5 - review.rating).times do %>
            <i class="fa-solid fa-star empty-star"></i>
          <% end %>
        </p>
        <p><%= review.comment %></p>
      </div>
    <% end %>
  </div>

  <div class="container bg-white h-50 rounded">
    <%= render 'reviews/new', list: @list, review: @review %>
  </div>
</div>
