<h1><%= @list.name %></h1>
<%= link_to "Add movie", new_list_bookmark_path(@list) %>
<%= link_to "Homepage", root_path %>
<% @list.bookmarks.each do |bookmark| %>
  <h2><%= bookmark.movie.title %></h2>
  <img src="<%= bookmark.movie.poster_url %>" alt="">
  <p><%= bookmark.movie.overview %></p>
  <p><%= bookmark.comment %></p>
  <%= link_to "Delete", list_bookmark_path(@list, bookmark), data: { turbo_method: :delete }%>
<% end %>
